{% extends 'layout.html' %}

{% block topbar %}
    {% if user.is_authenticated %}
        Welcome {{ user.username }}
        <a href="/user/logout">Sign out</a>
    {% endif %}
{% endblock %}

{% block content %}

        <h2>new users :</h2>
        <ul>
            {% for user in last_users %}
                <li>{{ user.username }}</li>
            {% endfor %}    
        </ul>
        <h2>Fresh posts :</h2>
        <!-- 3 latest posts -->
        <ul>
            {% for post in last_posts %}
            <li>{{ post.title }}</li>
            {% endfor %}
        </ul>

{% endblock %}

<!-- shift + 1 +Tab ->create new  document-->
