{% extends 'layout.html' %}

{% block content %}

        <nav>
            <a href="/">Home</a>*
            <a href="/signup">Sign Up</a>*
            <a href="/signin">Sing In</a>
        </nav>
        <h2>Sign In :</h2>
        <form action="">
            
            <input type="email" placeholder="enter email"><br>
            <input type="password" placeholder=" password"><br>
            <button type="button">Create</button>
        </form>
        
{% endblock %}

<!-- shift + 1 +Tab ->create new  document-->