{% extends 'layout.html' %}

{% block content %}

<h2>ACCES YOUR ACCOUNT :</h2>
{% if messages %}
    {% for message in messages %}        
        {% if message.tags == 'error' %}
            <div style="color: red; padding: 10px; border: 3px solid red; margin-bottom: 10px;">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<form action="/user/login" method="POST">
    <input 
        name="username" 
        type="text"
        placeholder="enter username"><br>
   
    <input 
        name="password" 
        type="password" 
        placeholder="enter password"><br>
    <!-- TODO ? add eye -->

    {% csrf_token %}
    <button>Enter</button><br>
</form>

{% endblock %}
<!-- shift + 1 +Tab ->create new  document-->